# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Editor-specific
.vscode/
.idea/

# OS system files
.DS_Store
Thumbs.db

#Access Codes
tokens.json
replacements.txt